*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
h1{
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
    color: white;
}

nav{
    height: 60px;
}

footer{
    text-align: center;
    height: 50px;
}

div.projekt{
    display: flex;
    padding: 1rem;
    flex-flow: row wrap;
    justify-content: flex-start;
}

article{
    flex-basis: 40%;
    margin: 3% 5%;
    border-radius: 10px;
    transition: all 200ms ease-out;
}
article:hover{
    box-shadow: 0 0 50px rgb(35 173 255);
}

img{
    width: 100%;
}

img.projekt{
    border-radius: 1%;
}

h2.projekt{
    color: white;
}

h2, p{
    text-align: center;
}

a {
    text-decoration: none;
}

a:hover{
    color: inherit;
}

input, textarea{
    border: 1px solid black;
}

form{
    text-align: center;
}